# -*- mode: gitignore; -*-

# Unix
.*


# Git
!.gitattributes
!.gitignore


# tree-sitter


## Artifacts

### C
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc
*.exp
*.lib

### Go
_obj/

### Node
build/
prebuilds/
node_modules/
package-lock.json

### Python
.venv/
dist/
*.egg-info
*.whl

### Rust
target/
Cargo.lock

### Swift
.build/
Package.resolved

### Zig
.zig-cache/
zig-cache/
zig-out/

### Example dirs
/examples/*/

### Grammar volatiles
*.wasm
*.obj
*.o

### Archives
*.tar.gz
*.tgz
*.zip